venv
data
settings.json
*.key
.env
*.ezkl
*.srs
input.json
witness.json
proof.json
target
Cargo.lock
.vscode
__pycache__
proof_artifacts
lora_onnx_params
intermediate_activations
nohup.out
*.log
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
.DS_Store
